<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<dom-module id="app-login">
	<template>
		<!-- ---------------------Imports --------------------->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<!-- --------------------Styles--------------------->
    <style>
      :host {
        display: block;
      }
    </style>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3">
				</div>
				<div class="col-sm-6">
					<h2>Bienvenido a su aplicacion mini bancaria</h2><br /><br /><br /><br /><br /><br />
					<!-- <iron-ajax id="lanzarLogin"
			                url="http://imagenproyectofinalv1-proyectotu.1d35.starter-us-east-1.openshiftapps.com/v01/usuarios/login"
			                method="POST"
											handle-as="text"
			                on-response="respuestaLogin">
			    </iron-ajax> -->
					<iron-ajax id="lanzarLogin"
											url="http://imagenproyectofinalv1-proyectotu.1d35.starter-us-east-1.openshiftapps.com/v01/usuarios/login"
											method="POST"
											handle-as="text"
											on-response="respuestaLogin">
					</iron-ajax>
					<div class="container">
				    <div>
				      <label for="">&nbsp;&nbsp;Por favor ingrese su usuario</label>
				      <input type="text" name="" value="{{valuser::input}}" placeholder="example@bbva.com" required="required">
				    </div>
						<br />
				    <div>
				      <label for="">&nbsp;&nbsp;Ingrese su password</label>
				      <input value="{{valpass::input}}" required="required" type="password">
				    </div>
						<br />
				    <div>
				      <button on-click="hacerLogin" type="button" value="login" class="btn btn-info">Entrar a la aplicaci&oacute;n</button>
				    </div>
					</div>
				</div>
				<div class="col-sm-3">
				</div>
			</div>
		</div>
	</template>
	<script>
	/**
	 * @customElement
	 * @polymer
	 */
	class AppLogin extends Polymer.Element
	{
		static get is() { return 'app-login'; }
		static get properties() {
			return {
				valor: {
					type: String
				}
			};
		}
		hacerLogin()
		{
			this.$.lanzarLogin.headers.email=this.valuser;
			this.$.lanzarLogin.headers.password=this.valpass;
			console.log("headers: "+this.$.lanzarLogin.headers.email);
			this.$.lanzarLogin.generateRequest();
		}
		respuestaLogin(data)
		{
			console.log("en respuesta login ==> ");
			console.log(data.detail.response);
			console.log((""+data.detail.response.length)>0);
			if((""+data.detail.response.length)>0)
			{
				var valor=JSON.parse(data.detail.response);
				console.log("respuesta==> "+valor.email);
				sessionStorage.setItem("userData",valor.idusuario);
				sessionStorage.setItem("oid",valor.oid);
				sessionStorage.setItem("email",valor.email);
				console.log("valor de usaurio en sesion= "+sessionStorage.getItem("userData"));
				console.log("valor de usaurio en sesion= "+sessionStorage.getItem("oid"));
				console.log("valor de usaurio en sesion= "+sessionStorage.getItem("email"));
				document.location.href="/cuentasconsulta/"+valor.idusuario+"/"+valor.email;
			}else {
				alert("Error en la autenticacion, nombre de usuario o contraseña incorrectos");
			}
		}
	}
	window.customElements.define(AppLogin.is, AppLogin);
	</script>
</dom-module>
