<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/app-menunavegacion/app-menunavegacion.html">
<dom-module id="app-usuarioalta">
	<template>
		<!-- ---------------------Imports --------------------->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<!-- ---------------------Styles--------------------->
    <style>
      :host {
        display: block;
      }
    </style>
		<app-menunavegacion></app-menunavegacion>
		<iron-ajax id="sesion"
								url="http://imagenproyectofinalv1-proyectotu.1d35.starter-us-east-1.openshiftapps.com/v01/sesion/{{email}}"
								method="GET"
								handle-as="json"
								on-response="validaSesion">
		</iron-ajax>

		<iron-ajax id="altaUsuario"
						url="http://imagenproyectofinalv1-proyectotu.1d35.starter-us-east-1.openshiftapps.com/v01/usuarios"
						method="POST"
						body='{{body}}'
						handle-as="json"
						loading="cargando......."
						content-type="application/json"
						on-response="respuestaAlta">
		</iron-ajax>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3">
				</div>
				<div class="col-sm-6">
					<h2>Alta de usuario</h2><br /><br /><br />
					<div>
						<h5>Por favor ingrese los datos</h5><br />
			      <label for="">&nbsp;&nbsp; idusuario</label>
			      <input type="text" name="" value="{{idusuario::input}}" placeholder="USR000????" required="required"><br />
						<label for="">&nbsp;&nbsp;Nombres</label>
			      <input type="text" name="" value="{{nombre::input}}" placeholder="Luna" required="required"><br />
						<label for="">&nbsp;&nbsp;Apellidos</label>
						<input type="text" name="" value="{{apellido::input}}" placeholder="Lunera Cascabelera" required="required"><br />
						<label for="">&nbsp;&nbsp;Email</label>
						<input type="text" name="" value="{{correo::input}}" placeholder="blue@moon.com" required="required"><br />
						<label for="">&nbsp;&nbsp;Password</label>
						<input type="text" name="" value="{{password::input}}" placeholder="*********" required="required"><br />
						<label for="">&nbsp;&nbsp;Pais</label>
						<input type="text" name="" value="{{pais::input}}" placeholder="lado obscuro de la luna" required="required"><br /><br />
						<div>
				      <button on-click="ejecutaValida" type="button" value="" class="btn btn-info">Dar de alta</button>
				    </div>
			    </div>
				</div>
				<div class="col-sm-3">
				</div>
			</div>
		</div>
		<br />
		<div hidden$="{{hidmsgok}}" class="alert alert-success">{{mensaje}}</div>
		<div hidden$="{{hidmsger}}" class="alert alert-danger">{{mensaje}}</div>
	</template>
	<script>
	/**
	 * @customElement
	 * @polymer
	 */
	class AppUsuarioalta extends Polymer.Element
	{
		static get is() { return 'app-usuarioalta'; }
		static get properties() {
			return {
				mensaje: {
					type: String
				},
				hidmsgok: {
					type: Boolean,
					value: true
				},
				hidmsger: {
					type: Boolean,
					value: true
				}
			};
		}

		respuestaAlta(data)
		{
			console.log(data.detail.status);
			if(data.detail.status==200)
			{
				this.mensaje="Alta de usuario Exitosa :)";
				this.hidmsgok=false;
				this.hidmsger=true;
			}
			else {
				this.mensaje="Ups ocurrio un error intente de nuevo :(";
				this.hidmsger=false;
				this.hidmsgok=true;
			}
		}

		//valida la sesion del usuario
		ejecutaValida()
		{
			console.log("email====>"+this.email);
			this.$.sesion.generateRequest();
		}
		validaSesion(data)
		{
			console.log("respuestaValidasesion====>");
			console.log(data.detail.response);
			if(data.detail.response.consultaUsuarios=="ok")
			{
				var body='{"idusuario": "'+this.idusuario+'","nombre": "'+this.nombre+'","apellido": "'+this.apellido+'","email": "'+this.correo+'","password": "'+this.password+'","pais": "'+this.pais+'"}';
				console.log(body);
				this.$.altaUsuario.body=body;
				this.$.altaUsuario.generateRequest();
			}else
			{
				alert("Operacion no permitida sin autenticacion");
			}
		}

	}
	window.customElements.define(AppUsuarioalta.is, AppUsuarioalta);
	</script>
</dom-module>
