<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/src/app-menunavegacion/app-menunavegacion.html">
<dom-module id="app-movimientosconsulta">
	<template>
		<!-- ---------------------Imports --------------------->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<!-- ---------------------Styles--------------------->
    <style>
      :host {
        display: block;
      }
    </style>
		<app-menunavegacion></app-menunavegacion>
		<h2>Movimientos de la cuenta {{id}}</h2>
		<iron-ajax auto id="sesion"
								url="http://imagenproyectofinalv1-proyectotu.1d35.starter-us-east-1.openshiftapps.com/v01/sesion/{{email}}"
								method="GET"
								handle-as="json"
								on-response="validaSesion">
		</iron-ajax>

		<iron-ajax id="obtenerMovimientos"
								url="http://imagenproyectofinalv1-proyectotu.1d35.starter-us-east-1.openshiftapps.com/v01/cuentamovimientos/{{id}}"
								method="GET"
								handle-as="json"
								on-response="mostrarMovimientos">
		</iron-ajax>

		<!-- <iron-ajax id="obtenerMovimientos"
								url="http://imagenproyectofinalv1-proyectotu.1d35.starter-us-east-1.openshiftapps.com/v01/cuentamovimientos/{{id}}"
								method="GET"
								handle-as="json"
								on-response="mostrarMovimientos">
		</iron-ajax> -->

		<div hidden$="{{noTengoMovimientos}}">
			Listado de cuentas: <br /><br />
			<template is="dom-repeat" items="{{movimientos}}" as="mts">
				<div class="card" style="width: 18rem">
					<div class="card-body">
						<h5 class="card-title">id movimiento: {{mts.idmov}}</h5>
						<h6 class="card-subtitle mb-2 text-muted">fecha: {{mts.fecha.$date}}</h6>
						<p class="card-text">importe {{mts.importe}}</p>
					</div>
				</div>
			</template>
		</div>
	</template>
	<script>
	/**
	 * @customElement
	 * @polymer
	 */
	class AppMovimientosconsulta extends Polymer.Element
	{
		static get is() { return 'app-movimientosconsulta'; }
		static get properties() {
			return {
				movimientos:
				{
            type: Array
        },
				noTengoMovimientos:
				{
            type: Boolean,
						value: true
        }
			};
		}

      //indicar que a mostrarMovimientos le pasamos los datos que regresa iron ajax
      mostrarMovimientos(data)
      {
				console.log("en respuesta "+this.id);
				console.log(data.detail.response[0].movimientos);
        this.movimientos=data.detail.response[0].movimientos;
				this.noTengoMovimientos=false;
				sessionStorage.setItem("cuenta",this.id);
				console.log("valor de cuenta en sesion= "+sessionStorage.getItem("cuenta"));
      }
			//valida la sesion del usuario
			validaSesion(data)
			{
				if(data.detail.response.consultaUsuarios=="ok")
				{
					this.$.obtenerMovimientos.generateRequest();
				}else
				{
					alert("Operacion no permitida sin autenticacion");
				}
			}

		}
	window.customElements.define(AppMovimientosconsulta.is, AppMovimientosconsulta);
	</script>
</dom-module>
