<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<dom-module id="app-movimientosalta">
	<template>
		<!-- ---------------------Imports --------------------->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<!-- ---------------------Styles--------------------->
    <style>
      :host {
        display: block;
      }
    </style>
		<h2>app-movimientosalta</h2>
	</template>
	<script>
	/**
	 * @customElement
	 * @polymer
	 */
	class AppMovimientosalta extends Polymer.Element
	{
		static get is() { return 'app-movimientosalta'; }
		static get properties() {
			return {
				valor: {
					type: String
				}
			};
		}
	}
	window.customElements.define(AppMovimientosalta.is, AppMovimientosalta);
	</script>
</dom-module>
