<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<dom-module id="app-logout">
	<template>
		<!-- ---------------------Imports --------------------->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<!-- ---------------------Styles-------------------->
    <style>
      :host {
        display: block;
      }
    </style>

		<iron-ajax  auto id="logout"
						url="http://imagenproyectofinalv1-proyectotu.1d35.starter-us-east-1.openshiftapps.com/v01/logout/{{email}}"
						method="DELETE"
						loading="cargando......."
						on-response="respuestaElimina">
		</iron-ajax>
	</template>
	<script>
	/**
	 * @customElement
	 * @polymer
	 */
	class AppLogout extends Polymer.Element
	{
		static get is() { return 'app-logout'; }
		static get properties() {
			return {
			};
		}
		respuestaElimina(data)
		{
			console.log(data.detail.response.logout);
			document.location.href="/";
		}
	}
	window.customElements.define(AppLogout.is, AppLogout);
	</script>
</dom-module>
