<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/src/app-menunavegacion/app-menunavegacion.html">
<dom-module id="app-usuariomodificacion">
	<template>
		<!-- ---------------------Imports --------------------->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<!-- ---------------------Styles--------------------->
    <style>
      :host {
        display: block;
      }
    </style>
		<app-menunavegacion></app-menunavegacion>
		<iron-ajax auto id="sesion"
								url="http://imagenproyectofinalv1-proyectotu.1d35.starter-us-east-1.openshiftapps.com/v01/sesion/{{email}}"
								method="GET"
								handle-as="json"
								on-response="validaSesion">
		</iron-ajax>

		<iron-ajax id="modificaUsuario"
						url="http://imagenproyectofinalv1-proyectotu.1d35.starter-us-east-1.openshiftapps.com/v01/usuarios/{{id}}"
						method="PUT"
						body='{{body}}'
						handle-as="json"
						loading="cargando......."
						content-type="application/json"
						on-response="respuestaModifica">
		</iron-ajax>
		<h2>{{valor}}</h2>


	</template>
	<script>
	/**
	 * @customElement
	 * @polymer
	 */
	class AppUsuariomodificacion extends Polymer.Element
	{
		static get is() { return 'app-usuariomodificacion'; }
		static get properties() {
			return {
				valor: {
					type: String
				}
			};
		}
		respuestaModifica(data)
		{
			console.log(data.detail.status);
			if(data.detail.status==200)
			{
				this.valor="Exitoso :)";
			}
			else {
				this.valor="Ups ocurrio un error intente de nuevo :(";
			}
		}
		//valida la sesion del usuario
		validaSesion(data)
		{
			if(data.detail.response.consultaUsuarios=="ok")
			{
				this.$.modificaUsuario.generateRequest();
			}else
			{
				alert("Operacion no permitida sin autenticacion");
			}
		}
	}
	window.customElements.define(AppUsuariomodificacion.is, AppUsuariomodificacion);
	</script>
</dom-module>
