<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/app-menunavegacion/app-menunavegacion.html">
<dom-module id="app-usuariobaja">
	<template>
		<!-- ---------------------Imports --------------------->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<!-- ---------------------Styles--------------------->
    <style>
      :host {
        display: block;
      }
    </style>
		<app-menunavegacion></app-menunavegacion>
		<iron-ajax auto id="sesion"
								url="http://imagenproyectofinalv1-proyectotu.1d35.starter-us-east-1.openshiftapps.com/v01/sesion/{{email}}"
								method="GET"
								handle-as="json"
								on-response="validaSesion">
		</iron-ajax>

		<iron-ajax id="eliminaUsuario"
						url="http://imagenproyectofinalv1-proyectotu.1d35.starter-us-east-1.openshiftapps.com/v01/usuarios/{{id}}"
						method="DELETE"
						loading="cargando......."
						on-response="respuestaElimina">
		</iron-ajax>
		<br />
		<div hidden$="{{hidmsgok}}" class="alert alert-success">{{mensaje}}</div>
		<div hidden$="{{hidmsger}}" class="alert alert-danger">{{mensaje}}</div>
	</template>
	<script>
	/**
	 * @customElement
	 * @polymer
	 */
	class AppUsuariobaja extends Polymer.Element
	{
		static get is() { return 'app-usuariobaja'; }
		static get properties() {
			return {
				valor: {
					type: String
				},
				mensaje: {
					type: String
				},
				hidmsgok: {
					type: Boolean,
					value: true
				},
				hidmsger: {
					type: Boolean,
					value: true
				}
			};
		}
		respuestaElimina(data)
		{
			if(data.detail.status==200)
			{
				if(data.detail.response.borrado=="ok")
				{
					this.mensaje="Baja de usuario Exitosa :)";
					this.hidmsgok=false;
				}else
				{
					this.mensaje="Ups ocurrio un error intente de nuevo :(";
					this.hidmsger=false;
				}
			}
			else {
				this.mensaje="Ups ocurrio un error intente de nuevo :(";
				this.hidmsger=false;
			}
		}
		//valida la sesion del usuario
		validaSesion(data)
		{
			if(data.detail.response.consultaUsuarios=="ok")
			{
				this.$.eliminaUsuario.generateRequest();
			}else
			{
				alert("Operacion no permitida sin autenticacion");
			}
		}
	}
	window.customElements.define(AppUsuariobaja.is, AppUsuariobaja);
	</script>
</dom-module>
