<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/src/app-menunavegacion/app-menunavegacion.html">
<dom-module id="app-cuentas" onloadstart="invocarPeticion" on-load-start="invocarPeticion">
	<template>
		<!-- ---------------------Imports --------------------->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<!-- ---------------------Styles--------------------->
    <style>
      :host {
        display: block;
      }
    </style>
		<app-menunavegacion></app-menunavegacion>
		<h2>Cuentas del usuario {{id}}</h2>

		<!-- <iron-ajax auto id="obteneCuentas"
                url="http://imagenproyectofinalv1-proyectotu.1d35.starter-us-east-1.openshiftapps.com/v01/usuariocuentas/{{id}}"
								method="GET"
                handle-as="json"
                on-response="mostrarCuentas">
    </iron-ajax> -->
		<iron-ajax auto id="sesion"
								url="http://imagenproyectofinalv1-proyectotu.1d35.starter-us-east-1.openshiftapps.com/v01/sesion/{{email}}"
								method="GET"
								handle-as="json"
								on-response="validaSesion">
		</iron-ajax>

		<iron-ajax id="obteneCuentas"
								url="http://imagenproyectofinalv1-proyectotu.1d35.starter-us-east-1.openshiftapps.com/v01/usuariocuentas/{{id}}"
								method="GET"
								handle-as="json"
								on-response="mostrarCuentas">
		</iron-ajax>

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3">
				</div>
				<div class="col-sm-6">

					<div hidden$="{{noTengoCuentas}}">
						Listado de cuentas: <br /><br />
						<template is="dom-repeat" items="{{cuentas}}" as="cts">
							<div class="card" style="width: 16rem; center-block">
								<div class="card-body" center-block>
									<h6 class="card-title">id: {{cts.idcuenta}}</h6>
									<a href="/movimientosconsulta/[[cts.idcuenta]]/{{email}}" class="card-link">ver movimientos</a><br>
								</div>
							</div>
						</template>
					</div>

				</div>
				<div class="col-sm-3">
				</div>
			</div>
		</div>

		<div hidden$="{{hidmsgok}}" class="alert alert-success">{{mensaje}}</div>


	</template>
	<script>
	/**
	 * @customElement
	 * @polymer
	 */
	class AppCuentas extends Polymer.Element
	{
		static get is() { return 'app-cuentas'; }
		static get properties() {
			return {
				cuentas:
				{
            type: Array
        },
				sesion:
				{
            type: String
        },
				noTengoCuentas:
				{
            type: Boolean,
						value: true
        },
				mensaje: {
					type: String
				},
				hidmsgok: {
					type: Boolean,
					value: true
				}
			};
		}

      //indicar que a mostrarCuentas le pasamos los datos que regresa iron ajax
      mostrarCuentas(data)
      {
				console.log("en respuesta "+this.id);
				console.log(data.detail.response);
				this.cuentas=data.detail.response;
				if(this.cuentas.length>0)
				{
					this.noTengoCuentas=false;
				}else
				{
					this.mensaje="No existen cuentas para este usuario";
					this.hidmsgok=false;
				}
      }
			//valida la sesion del usuario
			validaSesion(data)
			{
				console.log("========>en cuentas sesion");
				console.log(data);
				if(data.detail.response.consultaUsuarios=="ok")
				{
					this.$.obteneCuentas.generateRequest();
				}else
				{
					alert("Operacion no permitida sin autenticacion");
				}
			}
	}
	window.customElements.define(AppCuentas.is, AppCuentas);
	</script>
</dom-module>
