<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<dom-module id="app-menunavegacion" >
	<template>
		<!-- ---------------------Imports --------------------->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<!-- ---------------------Styles--------------------->
    <style>
      :host {
        display: block;
      }
    </style>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
<!--			<a class="navbar-brand" href="#">
				Proyecto TechU
			</a>
-->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link" onclick="navegacion('/movimientosconsulta/')">Movimientos</a>
					<a class="nav-item nav-link" onclick="navegacion('/cuentasconsulta/')">Cuentas</a>
					<a class="nav-item nav-link" onclick="navegacion('/usuariosconsulta/')">Mantenimiento Usuarios</a>
					<a class="nav-item nav-link" onclick="navegacion('/usuarioalta/')">Alta de Usuario</a>
					<a class="nav-item nav-link" onclick="navegacion('/logout/')">Salir</a>
				</div>
			</div>
		</nav>
	</template>
	<script>
	function navegacion(miurl)
	{
		var datosesion="";
		switch (miurl) {
			case '/movimientosconsulta/':
				datosesion=""+sessionStorage.getItem("cuenta");
				if(datosesion.length>0)
				{
					document.location.href=""+miurl+datosesion+"/"+sessionStorage.getItem("email");
				}else
				{
					alert("operacion no permitida");
				}
			break;
			case '/cuentasconsulta/':
				datosesion=""+sessionStorage.getItem("userData");
				if(datosesion.length>0)
				{
					document.location.href=""+miurl+datosesion+"/"+sessionStorage.getItem("email");
				}else
				{
					alert("operacion no permitida");
				}
			break;
			case '/usuariosconsulta/':
				datosesion=""+sessionStorage.getItem("email");
				if(datosesion.length>0)
				{
					document.location.href=""+miurl+datosesion;
				}else
				{
					alert("operacion no permitida");
				}
			break;
			case '/usuarioalta/':
				datosesion=""+sessionStorage.getItem("email");
				if(datosesion.length>0)
				{
					document.location.href=""+miurl+datosesion;
				}else
				{
					alert("operacion no permitida");
				}
			break;
			case '/logout/':
				datosesion=""+sessionStorage.getItem("oid");
				if(datosesion.length>0)
				{
					document.location.href=""+miurl+datosesion+"/"+sessionStorage.getItem("email");
				}else
				{
					alert("operacion no permitida");
				}
			break;

			default:
				document.location.href=""+miurl;
		}
	}
	/**
	 * @customElement
	 * @polymer
	 */
	class AppMenuNavegacion extends Polymer.Element
	{
		static get is() { return 'app-menunavegacion'; }
		static get properties() {
			return {
				valor: {
					type: String
				}
			};
		}
	}
	window.customElements.define(AppMenuNavegacion.is, AppMenuNavegacion);
	</script>
</dom-module>
