<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/src/app-menunavegacion/app-menunavegacion.html">
<dom-module id="app-usuariosconsulta">
	<template>
		<!-- ---------------------Imports --------------------->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<!-- ---------------------Styles--------------------->
    <style>
      :host {
        display: block;
      }
    </style>
		<app-menunavegacion></app-menunavegacion>
		<h2>Mantenimiento de Usuarios</h2>
		<iron-ajax auto id="sesion"
								url="http://imagenproyectofinalv1-proyectotu.1d35.starter-us-east-1.openshiftapps.com/v01/sesion/{{email}}"
								method="GET"
								handle-as="json"
								on-response="validaSesion">
		</iron-ajax>

		<iron-ajax id="obtenerUsuarios"
								url="http://imagenproyectofinalv1-proyectotu.1d35.starter-us-east-1.openshiftapps.com/v01/usuarios"
								method="GET"
								handle-as="json"
								loading="cargando......."
								on-response="mostrarUsuarios">
		</iron-ajax>



		<div hidden$="{{noTengoUsuarios}}">
			Listado de usuarios: <br /><br />
			<template is="dom-repeat" items="{{usuarios}}" as="uss">
					<div class="table-responsive">
						<h6 class="">Usuario: {{uss.idusuario}}</h6>
						nombre:<input type="text" name="nombre" value="{{uss.nombre::input}}" >
						apellido:<input type="text" name="apellido" value="{{uss.apellido::input}}" >
						<h7> email: "{{uss.email::input}}"</h7>
						password:<input type="text" name="password" value="{{uss.password::input}}" >
						pais:<input type="text" name="pais" value="{{uss.pais::input}}" >
						<br/><a href="/usuariobaja/[[uss._id.$oid]]/{{email}}" class="card-link">Eliminar Usuario</a><br>
						 <a href='/usuariomodificacion/{{uss.idusuario}}/{"nombre":"{{uss.nombre}}","apellido":"{{uss.apellido}}","password":"{{uss.password}}","pais":"{{uss.pais}}"}/{{email}}' class="card-link">Modificar Usuario</a><br>
						<br /><br /><br />
					</div>
			</template>
		</div>
		<div hidden$="{{hidmsgok}}" class="alert alert-success">{{mensaje}}</div>



	</template>
	<script>
	/**
	 * @customElement
	 * @polymer
	 */
	class AppUsuariosconsulta extends Polymer.Element
	{
		static get is() { return 'app-usuariosconsulta'; }
		static get properties() {
			return {
				usuarios:
				{
						type: Array
				},
				noTengoUsuarios:
				{
						type: Boolean,
						value: true
				},
				mensaje: {
					type: String
				},
				hidmsgok: {
					type: Boolean,
					value: true
				}
			};
		}
		//regresa usuarios
		mostrarUsuarios(data)
		{
			this.usuarios=data.detail.response;
			if(this.usuarios.length>0)
			{
				this.noTengoUsuarios=false;
			}else
			{
				alert("no existen cuentas para este usuario");
			}
		}
		//valida la sesion del usuario
		validaSesion(data)
		{
			if(data.detail.response.consultaUsuarios=="ok")
			{
				console.log("en consulta usaurios despues sesion");
				this.$.obtenerUsuarios.generateRequest();
			}else
			{
				alert("Operacion no permitida sin autenticacion");
			}
		}
	}
	window.customElements.define(AppUsuariosconsulta.is, AppUsuariosconsulta);
	</script>
</dom-module>
